html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #333;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 38px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 28px;
}

h6 {
	font-size: 24px;
}

p {
	margin: 0 0 20px;
}

header {
	border-bottom: 2px solid #FFF;
	background-color: #d93a33;
	display: block;
	position: fixed;
	width: 100%;
	z-index: 9999999;
}

header .wrap {
	padding: 0;
}

/* Generic elements
--------------------------------------------- */

section {
	padding: 100px 0;
	display: block;
	border-bottom: 2px solid #d93a33;
}

.wrap {
	max-width: 900px;
	padding: 20px 40px;
	display: block;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}

.site-logo {
	max-width: 400px;
	color: #FFF;
	display: inline-block;
}

.site-logo img {
	width: 100px;
	margin-top: 14px;
	filter: invert(100);
}

.cite {
	display: block;
	margin-top: 20px;
	margin-bottom: 40px;
	font-weight: 700;
}

a.button {
	background-color: #d93a33;
	color: #fff;
	text-decoration: none;
	font-size: 26px;
	padding: 10px 20px;
	display: inline-block;
	transition: all .5s ease;
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

a.button:hover {
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 5px 25px -5px rgba(51,51,51,1);
	-moz-box-shadow: 0px 5px 25px -5px rgba(51,51,51,1);
	box-shadow: 0px 5px 25px -5px rgba(51,51,51,1);
}

section.colored a.button {
	color: #d93a33;
	background-color: #fff;	
}

section.colored a.button:hover {
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 5px 25px -5px rgba(150,150,150,1);
	-moz-box-shadow: 0px 5px 25px -5px rgba(150,150,150,1);
	box-shadow: 0px 5px 25px -5px rgba(150,150,150,1);
}

.underlined {
	text-decoration: underline;
}

section.colored {
	background: #d93a33;
	color: #FFF;
	border-color: #FFF;
}

/*section.eventi {
	background: rgba(150, 150, 150, 0.4);
	color: #FFF;
	border-color: #FFF;
}*/

/* CTA Section
--------------------------------------------- */
.cta h1,
.cta h2  {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.cta h1 {
	font-size: 42px;
	border-bottom: 2px solid #fff;
}

.cta h2 {
	font-weight: 300;
	font-size: 26px;
}

section.cta {
	height: calc(100vh - 90px);
	padding: 90px 0 0;
	background-color: #d93a33;
}

section.cta .wrap {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

a.go-down {
	width: 48px;
	height: 48px;
	border: 1px solid #FFF;
	text-align: center;
	display: block;
	border-radius: 50%;
	line-height: 2.5;
	margin: 80px auto 0;
	transition: all 500ms ease;
}

a.go-down span {
	color: #FFF;
}

a.go-down:hover {
	transform: translateY(10px);
}

section.cta #slideflow ul {
	margin-top: 80px;
}

/* images
--------------------------------------------- */

img {
	width: 100%;
}

/* Services
--------------------------------------------- */
section.services {
	text-align: center;
}

section.services h4 {
	font-size: 22px;
	margin-bottom: 10px;
	margin-top: 0;
}

section.services p {
	font-size: 18px;
}

section.services p a {
	color: #d93a33;
	font-weight: 700;
	text-decoration: none;
}
section.services p a:hover{
	color: #333;
	border-bottom: 1px solid;
}

section.services a.button {
	margin-top: 40px;
}

/* Clienti
--------------------------------------------- */
section.clients .wrap {
	max-width: 1440px;
}

section.clients {
	text-align: center;
}

.logos {
	margin-top: 80px;
}

.logos img {
	top: 50%;
	transform: translateY(-50%);
}

/* Team
--------------------------------------------- */
section.team {
	text-align: center;
}

section.team .team-row {
	margin: 80px 0;
	display: block;
	clear: both;
	overflow: auto;
}



section.team h4 {
	color: #d93a33;
	margin-top: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
}

section.team h4 span {
	color: #333;
	font-weight: 300;
	border-top: 1px solid;
}

section.team ul {
	padding: 0;
}

section.team ul li {
    list-style-type: none;
    font-size: 22px;
    line-height: 2;
}

section.team ul li a {
	color: #d93a33;
}

section.team ul li a:hover {
	color: #ededed;
}

section.team ul.social-links {
	margin: 0 auto 40px;
}

section.team ul.social-links li {
    display: inline-block;
	margin-right: 5px;
	font-size: 34px;
	width: 68px;
	height: 68px;
	background: #d93a33;
	border-radius: 50%;
	transition: all 500ms ease;
}

section.team ul.social-links li a {
    color: #FFF;
}

section.team ul.social-links li:hover {
	background-color: #ededed;
}

section.team ul.social-links li:hover a {
	color: #d93a33;
}


/* Contacts
--------------------------------------------- */

.contatti h3 {
	text-align: center;
	margin-bottom: 50px;
}

form label {
	display: block;
	padding-left: 10px;
}

form input,
form select,
form textarea {
	border: none;
	padding: 5px 4px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	transition: all .5s ease;
}

form input:focus,
form textarea:focus {
	transform: translateY(-5px);
    -webkit-box-shadow: 0px 5px 25px -5px rgba(150,150,150,1);
	-moz-box-shadow: 0px 5px 25px -5px rgba(150,150,150,1);
	box-shadow: 0px 5px 25px -5px rgba(150,150,150,1);
}

form select {
	padding:4px;
    margin: 0;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    background: #FFF;
}

form button.button {
	font-size: 26px;
	padding: 10px 20px;
	color: #d93a33;
	background-color: #fff;
	border: none;
	display: inline-block;
	font-size: 18px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	margin-top: 20px;
	transition: all .5s ease;
	cursor: pointer;
}

form button.button span {
	margin-left: 8px;
}

form label.select {
	position:relative;
	margin-top: 5px;
}

form button.button:hover {
	transform: translateY(-5px);
    -webkit-box-shadow: 0px 5px 25px -5px rgba(150,150,150,1);
	-moz-box-shadow: 0px 5px 25px -5px rgba(150,150,150,1);
	box-shadow: 0px 5px 25px -5px rgba(150,150,150,1);
}

form label.select:after {
    content: '< >';
	font: 11px 'Fira Sans', sans-serif;
	color: #aaa;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 4px;
	top: 6px;
	padding: 0 0 2px;
	border-bottom: 1px solid #aaa;
	position: absolute;
	pointer-events: none;
}
form label.select:before {
    content:'';
    right:0px;
    top:0px;
    width:30px;
    height:30px;
    background:#fff;
    position:absolute;
    pointer-events:none;
    display:block;
}

/* Post-Message section
--------------------------------------------- */

section.message {
	text-align: center;
	height: 100vh;
}

section.message .wrap {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

section.eventi {
	text-align: center;
}

section.eventi .evento {
	background-color: #ededed;
	box-shadow: 4px 4px 10px rgba(255,255,255,.2);
	border-radius: 4px;
	padding: 20px 0;
	position: relative;
	margin-bottom: 20px;
	color: #d93a33;
	transition: all 500ms ease;
}

section.eventi .evento:hover {
	box-shadow: 4px 4px 20px rgba(255,255,255,.4);
	transform: translateY(-5px);
}

section.eventi h1 {
	margin-bottom: 0;
	text-shadow: 4px 4px 10px rgba(255,255,255,.2);
}

section.eventi .partecipante-evento {
	display: block;
	overflow: hidden;
	clear: both;
}

section.eventi .partecipante-evento h4 {
	font-weight: 700;
	color: #fff;
	text-shadow: 4px 4px 10px rgba(255,255,255,.2);
	border-bottom: 2px solid;
	padding-bottom: 12px;
	display: inline-block;
}

/*section.eventi h1::after {
	content: "_";
	color: #fff;
	font-weight: 300;
	display: block;
}*/

section.eventi h5 {
	margin: 0;
	font-weight: 700;
}

section.eventi .data-evento {
	font-size: 32px;
	font-weight: 400;
}

section.eventi .ruolo-evento,
section.eventi .luogo-evento {
	text-transform: uppercase;
	font-size: 14px;
}

section.eventi a.link-evento {
	font-size: 20px;
	width: 100%;
	text-align: left;
	display: block;
	color: #d93a33;
	font-size: 18px;
	margin-top: 10px;
	padding: 14px 40px 0;
	display: block;
	text-transform: uppercase;
	font-weight: 300;
	border-top: 1px solid #aaa;
	box-sizing: border-box;
	text-decoration: none;
}

section.eventi a.link-evento span {
	text-align: right;
	float: right;
	font-size: 22px;
	line-height: 1;
}

/* Footer
--------------------------------------------- */

footer {
	background-color: #d93a33;
	color: #FFF;
	text-align: center;
	z-index: 999999;
}

footer p {
	color: #FFF;
	margin: 0 auto;
	display: inline-block;
	padding: 20px 0;
	text-decoration: none;
}

footer a span {
	display: block;
	font-size: 22px;
	transition: all .5s ease;
}

footer a span:hover {
	transform: translateY(-5px);
}

/* Column Classes
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}

/* Navigation
------------------------------------------*/
.nav-container {
	float: right;
	display: inline-block;
}

.nav-collapse ul {
	list-style-type: none;
}

.nav-collapse ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-collapse li a {
	color: #FFF;
	font-size: 16px;
	font-family: 'Arvo', serif;
	text-decoration: none;
	text-transform: lowercase;
	padding: 0 5px;
	line-height: 1.6;
	display: inline-block;
	transition: all .5s ease;
}

.menu-toggle {
	display: none;
}

.menu-toggle.show span::before{
	content: "\f404";
}

/* Mobile
------------------------------------------*/

@media (max-width: 1400px) {
	section.cta img {
		max-width: 700px;
		margin: 0 auto;
		display: block;
	}

	section.cta h1 {
		font-size: 32px;
	}

	section.cta h2 {
		font-size: 20px;
	}

	section.cta .go-down {
		margin: 30px auto 0;
	}
}

@media (max-width: 720px) {
	.menu-toggle {
		display: inline-block;
		float: right;
		margin: 10px 0 0;
	}
	.menu-toggle span::before {
		color: #fff;
		font-size: 32px;
	}
	.nav-container {
	    float: none;
	    margin-top: 40px;
	    margin-right: 0;
	    position: absolute;
	    top: -40px;
	    left: -250px;
	    background: rgba(255,255,255,.9);
	    width: 250px;
	    height: 100vh;
	    display: none;
	    z-index: 99999999;
	}
	.nav-container.show {
		left: 0;
		display: block;
	}
	.nav-container nav ul li {
	    float: none;
	    display: block;
	    padding: 20px;
	}
	.nav-container nav ul li a {
	    color: #FFF;
	}
	.nav-container nav ul li a:hover {
	    border-bottom: 1px dotted;
	}

	.site-title {
		font-size: 22px;
	}

	header .wrap {
		padding: 0 45px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		width: 100%;
		margin-left: 0;
	}
	
	.mobile-hide {
		display: none;	
	}

	section.cta img {
		max-width: 700px;
		margin: 0 auto;
		display: block;
	}

	section.cta h1 {
		font-size: 20px;
	}

	section.cta h2 {
		font-size: 16px;
	}

	section.cta .go-down {
		margin: 20px auto 0;
	}
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	form select {padding-right:18px}
}